<div ng-controller="WishlistController">

    <div class="container">
        <div class="row">
            <div ng-repeat='entry in wishlistRecords'>


                <div class='col-sm-12'>
                    <div class='card text-white bg-dark' style='margin:10px'>
                        <div class='card-body'>
                            <h5 class="card-title" ng-model="selectedBookTitle">{{entry.BookId}}</h5>
                            <!-- <p class="card-text" stl>{{entry.BookId}}</p> -->
                            <button class='btn btn-primary'>Available</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>