<div ng-controller='NotificationController'>

    <ul class='list-group' ng-controller="AdminController">
        <li class='list-group-item' ng-mouseover='' ng-class="{'active':''}" ng-repeat='notification in notificationsList'>
            <div>
                <!--<div style="position:relative; top: 30px;">-->
                    {{notification.Message}}
                <!--</div>-->
                <!--<div class="float-right">
                    <button class="btn btn-success" ng-if="notification.Type == 3" ng-click="approve(notification)">Approve</button>
                    <button class="btn btn-danger" ng-if="notification.Type == 3" ng-click="reject(notification)">Reject</button>
                    <button class="btn btn-warning" ng-if="notification.Type == 1" ng-click="return(notification)">Return</button>
                    <button class="btn btn-primary" ng-if="(notification.Type == 2) || (notification.Type == 0)" ng-click="issue(notification)">Issue</button>
                </div>-->
            </div>
        </li>
    </ul>
</div>