<div ng-controller='RequestController'>

    <br>
    <div>
        <button class='btn btn-primary' ng-if='isUserAdmin()' ng-click="getAll()" style="width: 24.5%;">All</button>
        <button class='btn btn-primary' ng-if='isUserAdmin()' ng-click="getPending()" style="width: 24.5%;">Pending Request</button>
        <button class='btn btn-primary' ng-if='isUserAdmin()' ng-click="getApproved()" style="width: 24.5%;">Approved Request</button>
        <button class='btn btn-primary' ng-if='isUserAdmin()' ng-click="getRejected()" style="width: 24.5%;">Rejected Request</button>
    </div>
    <br>
    <div>
        <input class="form-control" type="search" placeholder="Search" aria-label="Search" ng-model="search">
    </div>

    <div style="text-align:center; margin: 10px;">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Book ID</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="rental in pendingRentalsList | filter:search">
                    <td>{{rental.UserId}}</td>
                    <td>{{rental.BookId}}</td>
                    <td>{{rental.Status}}</td>
                    <td>
                        <span ng-if='isUserAdmin()' style="margin-left:40px;">
                            <button class="btn btn-success" ng-click="approve(rental)" ng-if="rental.Status == 'Waiting'">Approve</button>
                            <button class="btn btn-danger" ng-click="reject(rental)" ng-if="rental.Status == 'Waiting'">Reject</button>
                        </span>
                        <span ng-if='!isUserAdmin()' style="margin-left:10px;">
                            <button class="btn btn-success" ng-click="return(rental)" ng-if="rental.Status == 'Approved'">Return</button>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>