<div ng-controller="CatalogueController">
    <!-- TODO: Add a search by dropdown -->

    <!-- <input style="margin: 10px;width: 400px; border-style: double; border-color: black; border-width: 1px" class="form-control"
        type="text" placeholder="Search" ng-model="search.Title" ng-show="searchBookBy=='Title'"> -->

    <div style="margin-top:10px;">
        <input type="text" placeholder="Search" ng-model="search.Title" ng-show="searchBookBy=='Title'">
        <input type="text" placeholder="Search" ng-model="search.Author" ng-show="searchBookBy=='Author'">
        <input type="text" placeholder="Search" ng-model="search.Genre" ng-show="searchBookBy=='Genre'">

        <label>Search By:</label>
        <select ng-model="searchBookBy" ng-change="clearSearchFields()" required style="margin-left:10px;">
            <option value="" selected>Choose here</option>
            <option value="Title">Title</option>
            <option value="Author">Author</option>
            <option value="Genre">Genre</option>
        </select>
        <span style="margin-left:100px;">
            <button class='btn btn-primary' ng-if='isUserAdmin()' ng-click="routeToAddBooksForm()">Add Book</button>
        </span>
    </div>

    <!-- <form class="form-inline my-2 my-lg-0"> -->
    <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" ng-model="search.Title" ng-show="searchBookBy=='Title'">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" ng-model="search.Author" ng-show="searchBookBy=='Author'">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" ng-model="search.Genre" ng-show="searchBookBy=='Genre'"> -->
    <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
    <!-- </form> -->

    <br>
    <br>

    <div class="row">
        <div ng-repeat="book in booksList | filter:search">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" ng-model="selectedBookTitle">{{book.BookName}}</h5>
                        <p class="card-text">by {{book.Author}}
                            <br/> Genres: {{getGenresAsACommaSeperatedString(book.Genre)}}
                            <br> Total: {{book.Quantity}}
                            <br> Available: {{book.AvailableNumber}}
                        </p>
                        <button class="btn btn-primary" ng-click="issueBook(book.BookId)" ng-if="book.Quantity>0">Get this book</a>
                        <button class="btn btn-xs" ng-click="addToWishList(book.BookId)" ng-if="book.Quantity==0">Add to wishlist</a>
                    </div>
                </div>
            </div>

            <br>
            <br>
        </div>
    </div>
</div>